{% extends "base.html" %}

{% block "titulo" %}{{titulo}} - {{ block.super }}{% endblock "titulo" %}

{% block "conteudo" %}


<p>{{mensagem}}</p>

<form action ="" method="POST">

	<table>
		<tr><td><input type="submit" value="Sim"></td>
		<td><INPUT TYPE="BUTTON" VALUE="Não" ONCLICK="window.location.href='/ocorrencias/{{ocorrencia_id}}/parecer/'"></td></tr><tr></tr>
		<tr><td><INPUT TYPE="BUTTON" VALUE="Voltar" ONCLICK="window.location.href='/ocorrencias/{{ocorrencia_id}}/parecer/'"></td></tr>
	</table>

</form>


{%endblock "conteudo"%}
