{% extends "base.html" %}

{% block "titulo" %}{{titulo}} - {{ block.super }}{% endblock "titulo" %}

{% block "conteudo" %}


	<form  action="" method="POST">
	<div class="coluna">
		
			<label for="solicitante">Solicitante:</label><input type="text" id="solicitante"name="solicitante" value="">
			<label for="endereco">Endereco:</label><input type="text" id="endRua" name="endRua" value="">
			<label for="datas">Entre as datas:</label></br>
				<input type="text" id="dataOcorrencia" name="dataOcorrencia" value="" size="7">
				<input type="text" id="dataFinal" name="dataFinal" value="" size="7">
				
			<SELECT id ="saida" name="saida" title="saida" class="selectMargem">
				<option value="0">Pesquisa Comum</option>
				<option value="1">Tabela de Relatorio</option>
			</SELECT>
	</div>
	
	
	<div class="coluna">
		
			<label for="status">Status:</label>
			<SELECT id ="status" name="status" title="status">
				<option value="0">-------------Todos---------------</option>
				{%for status in lista_status%}		
					<option value="{{status.id}}">{{status.nome}}</option>
				{%endfor%}
			</SELECT>
			<label for="numero">Numero:</label><br/><input type="text" id="endNum" name="endNum"  size="6"></br>
			
			<label for="usuario">Usuario:</label>
			<SELECT id ="usuario" name="usuario" title="usuario">
					<option value="0">-------------Todos---------------</option>
					{%for usuario in lista_users%}		
						<option value="{{usuario.id}}">{{usuario.username}}</option>
					{%endfor%}
			</SELECT></br>
			
			
	</div>
	
	
	<div class="coluna">
			<label for="status">Situacao:</label>
			<SELECT id ="situacao" name="situacao" title="situacao">
				<option value="0">-------------Todos---------------</option>
				{%for situacao in lista_situacao%}		
					<option value="{{situacao.id}}">{{situacao.nome}}</option>
				{%endfor%}
			</SELECT>
			
			
			<label for="status">Bairro:</label>
			<SELECT id ="bairro" name="bairro" title="bairro">
				<option value="0">-------------Todos---------------</option>
				{%for bairro in lista_bairros%}		
					<option value="{{bairro.id}}">{{bairro.nome}}</option>
				{%endfor%}
			</SELECT>
			
			
			
			<label for="status">Assunto:</label>
			<SELECT id ="assunto" name="assunto" title="assunto">
				<option value="0">-------------Todos---------------</option>
				{%for assunto in lista_assunto%}		
					<option value="{{assunto.id}}">{{assunto.nome}}</option>
				{%endfor%}
			</SELECT>
			
			<br/><input type="submit" class="botao" size="10" value="Buscar" />
	</div>

</form>

{% if n_registros != 0%}
          <div class="sucesso"><img src="/site_media/images/iconSuccess.gif">{{mensagem}}</div>


    <table id="tabelaConsulta">
	<thead>
		<tr>
			<th>Codigo</th>
			<th>Solicitante</th>
			<th>Status</th>
			<th>Situação</th>
			<th>Data Ocorrencia</th>
			<th>Usuario Registrador</th>
			<th>Ação</th>	
		</tr>
	</thead>
	{% ifnotequal n_registros '0'%}
	{%for object in lista_ocorrencias%}
	<tr>			
        <td>{{ object.id }}</td>
		<td>{{ object.solicitante }}</td>
		<td>{{ object.status}}</td>
		<td>{{ object.situacao}}</td>
		<td>{{ object.dataOcorrencia}}</td>
		<td>{{ object.usuario}}</td>
	    <td><a class="link" href="{% url editar_ocorrencia object.id %}">Editar</a></td>
		<td><a class="link" href="{% url ver_ocorrencia object.id %}">Imprimir</a></td>
	</tr>
	{% endfor %}
    </table>
	{% endifnotequal %}

<br/>
<form><INPUT TYPE="BUTTON" VALUE="Cadastrar Nova Ocorrencia" ONCLICK="window.location.href='{% url nova_ocorrencia %}'"></td></tr></th> </form>



{%else%}
          <div class="erro"><img src="/site_media/images/erro.png">{{mensagem}}</div>
        <div id="aux"></div>
        <form><INPUT TYPE="BUTTON" VALUE="Cadastrar Nova Ocorrencia" ONCLICK="window.location.href='{% url nova_ocorrencia %}'"></form> 
{%endif%}

{% endblock "conteudo" %}
