{% extends "base.html" %}

{% block "titulo" %}{{titulo}} - {{ block.super }}{% endblock "titulo" %}

{% block "conteudo" %}

<h1>Relatorio de Ocorrencias</h1> <br/>
    <table border="0" width="60%">
	<thead>
		<tr>
			<th>Codigo</th>
			<th>Solicitante</th>
			<th>Status</th>
			<th>Situação</th>
			<th>Data Ocorrencia</th>
			<th>Usuario Registrador</th>
		</tr>
	</thead>
	{% ifnotequal n_registros '0'%}
	{%for object in lista_ocorrencias%}
	<tr>			
        <td>{{ object.id }}</td>
		<td>{{ object.solicitante }}</td>
		<td>{{ object.status}}</td>
		<td>{{ object.situacao}}</td>
		<td>{{ object.dataOcorrencia}}</td>
		<td>{{ object.usuario}}</td>
	</tr>
	{% endfor %}
    </table>
	{% endifnotequal %}

<br/>
{% endblock "conteudo" %}
