{% extends "base.html" %}

{% block "titulo" %}{{titulo}} - {{ block.super }}{% endblock "titulo" %}

{% block "conteudo" %}

<h1 class="tituloListaParecer" >Pareceres da Ocorrencia Numero: {{ocorrencia_id}}</h1>
    
    {%for object in lista_parecer%}
		<div class="textoParecer">	
        {{ object.texto|safe }}	
        <p class="parecerStatus">Status: {{ object.status}}  ID: {{object.id}}</br>
           Registrado Por {{object.usuarioRegistrador}} em {{ object.data}} </p>
           
           <a href="/ocorrencia/{{ocorrencia_id}}/parecer/{{object.id}}/deletar">Apagar</a>
           <a href="/ocorrencia/parecer/{{object.id}}/editar">Editar</a>
        </div>
	{% endfor %}
    <p class="parecerStatus">Cadastrar Novo Parecer:</p>
	<form action ="" method="POST">
		<textarea rows = "10" cols="77" id="texto" name="texto"></textarea></br>
		<label for="txt_Parecer">Usuario Registrador:</label>
		<SELECT id ="registrador" name="registrador" title="registrador">
		{%for user in registradores%}
			<option value={{user.id}}>{{user.nome}}</option>
		{% endfor %}
		<a href="/admin/ocorrencias/usuarioregistrador/add/" class="add-another" id="add_id_usuarioRegistrador" onclick="return showAddAnotherPopup(this);"> <img src="/site_media/images/add.png" width="10" height="10" alt="Adicionar Outro(a)"/></a>
		
		<input type="submit" value="Cadastrar"  ></input>		
	</form>

{% endblock "conteudo" %}
