{% extends "base.html" %}

{% block "titulo" %}{{titulo}} - {{ block.super }}{% endblock "titulo" %}

{% block "conteudo" %}

<h1 class="tituloListaParecer" >Pareceres da Ocorrencia Numero: {{ocorrencia_id}}</h1>
    
    {%for object in lista_parecer%}
		<div class="textoParecer">	
        <p >{{ object.texto }}</p>		
        <p class="parecerStatus">Status: {{ object.status}}</br>
           Registrado Por {{object.usuarioRegistrador}} em {{ object.data}}</p>
        </div>
	{% endfor %}
    
	<form>
	<fieldset><legend>Cadastrar Novo Parecer</legend>
	<table border="0">
		<tr><textarea rows = "30" cols="10000" id="texto" name="texto"></textarea><tr/>
		<tr><th><label for="txt_Parecer">Usuario Registrador:</label></th>
		<td><SELECT id ="registrador" name="registrador" title="registrador">
		{%for user in registradores%}
		<option value={{user.id}}>{{user.nome}}</option>
		{% endfor %}</td></tr>
		
		<tr><td><input type="submit" value="Cadastrar"></input></td></tr>
		
		</table>
		
	</fieldset>
	</form>

{% endblock "conteudo" %}
