{% extends "base.html" %}

{% block "titulo" %}Relatorio -Ocorrencias Por bairro - {{ block.super }}{% endblock "titulo" %}

{% block "conteudo" %}

<script type="text/javascript" src="/site_media/js/relatorio.js"></script>
    
    <form>

   <label for="data1" >De:</label>   
<input class="texto" type="textbox" size="10" name="data1" id="data1"/>  
   <label for="data2" >Até:</label>   
 <input type="textbox" size="10" name="data2" id="data2"/>  

 <input type="SUBMIT" value="Buscar">  
 <input type="BUTTON" value="Voltar" ONCLICK="window.location.href='/ocorrencias/relatorios'"/>     
</form>

    
    
    
    
     <table class="tblrelatorio">
     	          
    {%for b in lista_bairros%}
         
      <tr class="trrelatorio"><th class="threlatorio">Bairro: {{b}}</th><th>Ocorrencias: {{b.ocorrencias}}</th></tr>  
          <tr class="trrelatorio">
      	 {%for o in ocorrencias%}
       		{%if o.bairro = b%}
       		<tr class="trrelatorio"><td class="tdrelatorio">Assunto: {{o.assunto}}</td><td class="tdrelatorio">Ocorrencias: {{o.ocorrencias}}</td></tr>
        	   
       		{%endif%}
    	{%endfor%}
    	   </tr>
    
    	
    	      
    {%endfor%}  
       
         </table>  
    
{% endblock "conteudo" %}
