{% extends "base.html" %}

{% block "titulo" %}Relatorio -Ocorrencias Por bairro - {{ block.super }}{% endblock "titulo" %}

{% block "conteudo" %}

<script type="text/javascript" src="/site_media/js/relatorio.js"></script>
    
    <form>

   <label for="data1" >De:</label>   
<input class="texto" type="textbox" size="10" name="data1" id="data1"/>  
   <label for="data2" >Até:</label>   
 <input type="textbox" size="10" name="data2" id="data2"/>  

 <input type="SUBMIT" value="Buscar">  
 <input type="BUTTON" value="Voltar" ONCLICK="window.location.href='/ocorrencias/relatorios'"/>     
</form>

    
    
    
    
               
    {%for b in lista_bairros%}
         
      <div class="texto1"><b>Bairro: {{b}}</b> - N° de Ocorrencias: {{b.ocorrencias}}</div>  
          
      	 {%for o in ocorrencias%}
       		{%if o.bairro = b%}
       		<div class="texto2">Assunto: {{o.assunto}} N° de Ocorrencias: {{o.ocorrencias}} </div> 
        	   
       		{%endif%}
    	{%endfor%}
    	   
    	
    	      
    {%endfor%}  
       
           
    
{% endblock "conteudo" %}
