{% extends "base.html" %}

{% block "titulo" %}Relatorio -Ocorrencias Por bairro - {{ block.super }}{% endblock "titulo" %}

{% block "conteudo" %}
<form>
<table>
<tr>
<th><label for="data1" >De:</label></th>
<td><input class="texto" type="textbox" size="10" name="data1" id="data1"/></td>
<th><label for="data2" >Até:</label></th>
<td><input type="textbox" size="10" name="data2" id="data2"/></td>

<td><input type="SUBMIT" value="Buscar"></td>
<td><input type="BUTTON" value="Voltar" ONCLICK="window.location.href='/ocorrencias/relatorios'"/></td></tr>



<script type="text/css">
.texto1{
width:100%;
display:block;
text-align:left;
float:right;
font-size:20px;

}
.texto2{
width:80%;
display:block;
text-align:left;
float:right;
margin-left:10px;
font-size:12px;
}



</script>    




</form>
    <ul>
     {%for a in lista_assuntos%}
                <li class="texto1">Assunto: {{a}} Ocorrencias: {{a.ocorrencias}}
       	<ul>	
     	 {%for o in ocorrencias%}
       		{%if o.assunto = a%}
       		    <li class="texto2">Bairro: {{o.bairro}} Ocorrencias: {{o.ocorrencias}}</li>
        	
       		{%endif%}
    	{%endfor%}
    	</ul></li>   
    {%endfor%}  
          </ul>
      

    
    
    
{% endblock "conteudo" %}       

