{% extends "base.html" %}

{% block "titulo" %}Relatorio -Ocorrencias Por bairro - {{ block.super }}{% endblock "titulo" %}

{% block "conteudo" %}
<form>
<table>
<tr>
<th><label for="data1" >De:</label></th>
<td><input class="texto" type="textbox" size="10" name="data1" id="data1"/></td>
<th><label for="data2" >Até:</label></th>
<td><input type="textbox" size="10" name="data2" id="data2"/></td>

<td><input type="SUBMIT" value="Buscar"></td>
<td><input type="BUTTON" value="Voltar" ONCLICK="window.location.href='/ocorrencias/relatorios'"/></td></tr>
</form>
    
    <table border="0" width="60%">
     <thead>
     	<th>Assunto</th>
     	<th>Numero de Ocorrencias</th>
     </thead>       
    {%for a in lista_assuntos%}
        <tr>
                <th>{{a}}</th>
                <td>{{a.ocorrencias}}</td>
       </tr>
     	 {%for o in ocorrencias%}
       		{%if o.assunto = a%}
       		<tr>
                <td>-></td><td class="texto">{{o.bairro}}</td>
                <td class="texto">{{o.ocorrencias}}
        	</tr>
       		{%endif%}
    	{%endfor%}   
    {%endfor%}  
       
        </table>
    
<script type="text/css">
.texto{
display: inline;
padding:10px 0 0 0;
}
</script>    
    
    
    
{% endblock "conteudo" %}       

