
body{
margin:0;
padding:0;
background:#ccc;
}

.tudo{
margin:0 auto;
width:760px;
min-height:500 px;
color:#000;
background:#fff;

}

/*divs inline*/
.clearBoth { clear:both; }


div.coluna{
float:left;
/*divs inline*/

width:30%;
}



.titulo{
width:100%
font-size: 50px;
font-family: helvetica, arial, Sans-serif;
text-align:left;
color:#999;
}

.botao{
 
float:right;
margin:10px;
}
.selectMargem{
margin:10px;
}

label{
font-size:11;
font-style:bold;
}



div.sucesso{
float:left;
/*divs inline*/
background:#C1FFC1;
width:100%;
}

div.erro{
float:left;
/*divs inline*/
background:#FF7256;
width:100%;
}




