
body{
margin:0;
padding:0;
background-color:#191970;
/*
background-image:url("../images/fundo.png");
background-repeat: no-repeat;
background-attachment: fixed;
*/
}

.tudo{
padding: 25px;
margin:0 auto;
width:760px;
min-height:500 px;
color:#000;
background:#fff;
radius:20;

}

/*divs inline*/
.clearBoth { clear:both; }


div.coluna{
float:left;
/*divs inline*/
color:#2F4F4F;
width:30%;
}

.header{
width:100%
padding:0px;
margin:0px;
}
#logoHeader{
margin:5px;

vertical-align: center;

}
.titulo{
font-size: 50px;
font-family: helvetica, arial, Sans-serif;
text-align:left;
color:#FF8C00;
}


.botao{ 
float:right;
margin:10px;
}
.selectMargem{
margin:10px;
}

label{
font-size:11;
font-style:bold;
}



div.sucesso{
float:left;
/*divs inline*/
color:green;
width:100%;
}

div.erro{
float:left;
/*divs inline*/
color:red;
width:100%;
}

.menuLink{
text-decoration:none;

border: 0px;
padding:2px;
background-color:#483D8B;
border-color: #ccc;
color: #fff;
font-size:12px;
}

.menuLink:hover{
background-color:#9C9;
}

table{
border:0;
background:#ccc;
}

tr{
background:blue;
}
th{
background:#ccc;
font-size:11px;
text-decoration:none;
border-color:#2F4F4F;
}
td{
padding:5px;
background:#fff;
font-size:11px;
text-decoration:none;

}
.link{
text-decoration:none;
color:#000;
}
.link:hover{
color:red;
}

.addLink{
text-decoration:none;
color:#000;
}


.mensagem{
	font-size:11px;
	color:#008B8B;

}

#aux{

width:100%;
height:200px;
}


#footer{
font-size:11px;
background:#2F4F4F;
color:#fff;
width:100%;
height:25px;
text-align:center
}




/*******************Lista de Pareceres**************/

.textoParecer{
font-size:11px;
width:80%;
padding:10px;
margin:0 auto;
}
.textoParecer:hover{
background-color:#FFA500;
}
.parecerStatus{
color:#B22222;
}

.tituloListaParecer{
color:#B22222;
font-size: 24px;
padding:10px;
margin:0 auto;
}

/*******************/



/****Relatorios****/

.texto1{
text-decoration:none;
font-size:20px;
width:100%;
color:#B22222;
}
.texto2{
text-decoration:none;
font-size:11px;
margin-left:25px;
width:200px;
padding:2px;
background:#ccc;

}

.texto3{
text-decoration:none;
font-size:11px;
margin-left:25px;
width:200px;
display:inline;
}


.tblrelatorio{
border:0;
background:#fff;
}

.trrelatorio{

}
.tdlrelatorio{
background:#ccc;
font-size:11px;
text-decoration:none;
margin-left:10px;
width:30%;
}
.threlatorio{
margin:0;
padding:0;
font-size:16px;
text-decoration:none;
background:#ccc;
}

/*************************fim de relatorios*************************/



.col1{
width:400px;
display:inline;
margin-right:100px;
}
.col2{
width:400px;
display:inline;
text-align:right;
}
/*************/
