
body{
margin:0;
padding:0;
background:#ccc;
}

.tudo{
margin:20% auto;
width:300px;
height:auto;

}

.titulo{
width:100%
font-size: 50px;
font-family: helvetica, arial, Sans-serif;
text-align:left;
color:#999;
}
.subtitulo{
width:50%;
font-size:10px;
font-family: helvetica, arial, Sans-serif;
text-align:right;
color:#999;

}
