<html>
    <head>
        <title>{% block "titulo" %}Defesa Civil{% endblock "titulo" %}</title>


<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/media/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/media/";</script>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/media/js/core.js"></script>

<script type="text/javascript" src="/media/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/media/js/jquery.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.init.js"></script>
<script type="text/javascript" src="/media/js/actions.min.js"></script>
<script type="text/javascript" src="/media/js/calendar.js"></script>
<script type="text/javascript" src="/media/js/admin/DateTimeShortcuts.js"></script>

<style type="text/css">
@import url("/site_media/css/base.css");
</style>

<head>




<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body >

<script src="/site_media/js/jquery.js" type="text/javascript"></script>
<script src="/site_media/js/jquery.maskedinput.js" type="text/javascript"></script>
<script src="/site_media/js/base.js" type="text/javascript"></script>




<!-- Container -->
<div class="tudo">

    
    <!-- Header -->
   <div class="header"><img id="logoHeader" src="/site_media/images/banner-defesa-civil.png"></div>
   
         	<p>  
                	<a class="menuLink" href="/ocorrencia/buscar/">Inicio</a>  
                	<a class="menuLink" href="/ocorrencias/relatorios">Relatórios</a>  
                    <a class="menuLink" href="/admin/">Admin</a>  
                    <a class="menuLink" href="/logout/">Encerrar sessão</a>
                    
                    
            </p>
        
        
    

    <!-- END Header -->


        {% block "conteudo" %}
        {% endblock "conteudo" %}
    
    
    
    
    
    <div id= "footer"><p>Defesa Civil - Registro de Ocorrencias</p></div>    
   </div>     
    
        
    </body>
</html>
