{% block "conteudo" %}
<link rel="stylesheet" type="text/css" href="/site_media/css/login.css" />  
<script type="text/javascript"src="/site_media/js/jquery.js"></script>
<script type="text/javascript"src="/site_media/js/login.js"></script>





<div class="tudo">  

<h1 class="titulo">Defesa Civil.</h1>
<form action="" method='post' class="form" >
  {% csrf_token %} 
 	<input name="username" type="text" class="username" id="username" value="usuario"/>
	<input name="password" type="password" class="password" id="password" value="password"/>
	<input type="submit" value="login"  class="botao" />
	<input type="hidden" name="next" value="{{ next|escape }}" />
</form>
  
</div>

  
{% endblock "conteudo" %}

